// 首页
//@import "home/main";

body {
    min-width: 1200px !important;
    a {
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -ms-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear;
        text-decoration: none;
    }
}
 