<div style="text-align: center;">
	<div id="lianlian-div" class="form-group">
		<div class="ele-group">
			<div class="lab" style="margin-right: 20px;">提现金额: </div>
			<div class="group">
				<input type="text" name="withdrawAmount" />
			</div>
		</div>
		<div class="ele-group">
			<div class="lab" style="margin-right: 20px;">银行卡号: </div>
			<div class="group">
				<input type="text" name="bankCardNo" />
			</div>
		</div>
		<div class="ele-group">
			<div class="lab" style="margin-right: 20px;">支付密码: </div>
			<div class="group">
				<input type="text" name="payPassword" />
			</div>
		</div>
	</div>

</div>