<div id="i-page">
    <div id="i-balance" class="clearfix"></div>

    <div id="i-trade" class="clearfix">
    	<div class="header">
		     <select class="i-filter">
		      <option value ="1">最近一周</option>
		      <option value ="2">一个月</option>
		      <option value="3">三个月</option>
		      <option value="4">半年</option>
		      <option value="5">一年</option>
		      <option value="-1">全部</option>
		    </select>
		</div>
		<div class="table" style="border-bottom: 0px;"></div>
    </div>
</div>
