<div id="footer-trc">
    <div class="container">
        <div class="cat">
        	<a href="#" style="padding-left:0px;">泰然金融</a>
        	<a href="#">优驷卡</a>
        	<a href="#">泰然城</a>
        	<a href="#">帮助中心</a>
        	<a href="#">小泰社区</a>
        	<a href="#">关于我们</a>
        	<a href="#" style="border-right: 0px;">友情链接</a>
            <div class="addr">
                Copyright©2014-2016 泰和城@TRC.COM 版权所有
            </div>
        </div>
    
        <div class="contact">
            <div>
                <img src="../img/util/icon_phone.png"><span class="t">联系我们 (09:00 - 21:00)</span> <img src="../img/util/icon_qq.png"><span class="t">在线客服</span>
            </div>
            <div>400 669 0685</div>
        </div>
        <div class="qrcode">
            <div class="qr">
                <img src="../img/util/qrcode_1.png" />
                <div>泰然城服务号</div>
            </div>
            <div class="qr">
                <img src="../img/util/qrcode_2.png" />
                <div>泰然城订阅号</div>
            </div>
            <div class="qr">
                <img src="../img/util/qrcode_3.png" />
                <div>泰然城APP</div>
            </div>
        </div>
    </div>
    
</div>