
        <div class="top-bar">
            <div class="center">
                <div class="left"> 
                    <!-- 已登录 -->
                    {{if isLogined}}
                    <span>您好，<a href="javascript:;" class="c-27a1e5">{{userInfo.phone}}</a>&nbsp;欢迎进入泰然城</span>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript:;" class="logout" >退出</a>
                    {{else}}
                    
                    <!-- 未登录 -->
                    <span><a href="http://passport.trc.com/register" rel="nofollow">注册</a>|<a href="http://passport.trc.com/login?redirectUrl=http%3A%2F%2Fjr.trc.com" rel="nofollow">登录</a></span>
                    {{/if}}
                    <span><a class="topbar-download-link" href="http://jr.trc.com/app/appDownload" target="_blank"><i class="icon-mobile">&nbsp;</i>移动APP</a></span>
                </div>
                <div class="topbar-nav right">
                    <span><a class="topbar-link" href="http://jr.trc.com">返回金融首页</a></span>
                        <!-- <span><a class="topbar-link" href="http://passport.trc.com/api/logout?redirectUrl=http%3A%2F%2Fjr.trc.com">退出</a></span> -->
                    <span><a class="topbar-qq-link" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008260035&aty=0&a=0&curl=&ty=1" target="_blank" rel="nofollow"><i class="icon-qq">&nbsp;</i>在线客服</a></span>|
                    <span class="icon-tel"><a href="http://jr.trc.com/help/thNewHelp">帮助中心</a></span>|
                    <span class="icon-tel"><a class="c-f55" href="http://bbs.trc.com">小泰社区</a></span>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="center">
                <div class="mode-i-logo">
                    <a href="javascript:;"><img src="../img/logo_b.png" title="泰然城-个人中心" alt="泰然城-个人中心" /></a>
                </div>
                <div class="mode-i-top-nav">
                    <div class="mode-top-nav-first">
                        <ul class="mode-top-nav-inner">
                            <li class="mode-top-nav-item">
                                <div class="mode-top-nav-txt"><span><a href="javascript:;">我的泰然</a></span></div>
                            </li>
                            <li class="mode-top-nav-item on">
                                <div class="mode-top-nav-txt"><span><a href="javascript:;">我的卡包</a></span></div>
                            </li>
                            <li class="mode-top-nav-item">
                                <div class="mode-top-nav-txt"><span><a href="javascript:;">我的公益</a></span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    
                </div>
            </div>
        </div>