<div class="mode-i-myinfo">
                <div class="mode-i-myinfo-wrap">
                    <div class="i-myinfo-head">
                        <div class="i-myinfo-head-img">
                            <img title="我的账户名" alt="我的账户名" />
                        </div>
                        <div class="i-myinfo-relaname">
                            {{if phone}}
                                {{phone}}
                            {{else}} 
                                用户名
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mode-i-acount-tab">
                <ul> 
                    <li><a href="javascript:;"><img src="../img/util/icon_ava_user.png"></a></li>
                    <li><a href="javascript:;"><img src="../img/util/icon_ava_phone.png"></a></li>
                    <li><a href="javascript:;"><img src="../img/util/icon_ava_email.png"></a></li>
                </ul>
            </div> 
            <div class="mode-i-leftnav">
                <ul >
                    <li class="sm sm1">
                        <div><a href="./i.html">
                                <i class="icon" icon="account">1</i>
                                <span class="nav_txt">我的财富</span>
                                <span class="arrow"></span>
                            </a></div>
                    </li>
                    <li class="sm sm2">
                        <div><a href="./trade.html">
                                <i class="icon" icon="capital">2</i>
                                <span class="nav_txt">账单记录</span>
                                <span class="arrow"></span>
                            </a></div>
                    </li>
                    <li class="sm sm3">
                        <div><a href="./balance.html">
                                <i class="icon" icon="financing">3</i>
                                <span class="nav_txt">资金明细</span>
                                <span class="arrow"></span>
                            </a></div>
                    </li>
                    <li class="sm sm4">
                        <div><a href="./account.html">
                                <i class="icon" icon="manage">7</i>
                                <span class="nav_txt">账号设置</span>
                                <span class="arrow"></span>
                            </a></div>
                    </li>
                    <li class="sm sm5">
                        <div><a href="./mycard.html">
                                <i class="icon" icon="loan">8</i>
                                <span class="nav_txt">我的银行卡</span>
                                <span class="arrow"></span>
                            </a></div>
                    </li>
                    <li class="sm sm6 smp">
                        <div>
                            <a href="javascript:;">
                                <i class="icon" icon="loan">8</i>
                                <span class="nav_txt">E卡管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="smsub" style="margin-left: 70px;">
                                <a href="./ecard_buy.html"><li>购买的E卡</li></a>
                                <a href="./ecard_get.html"><li>收到的E卡</li></a>
                                <a href="#">
                                    <li>
                                        我的E卡
                                        <div>
                                            <ul>
                                                <a href="./ecard_list.html"><li>E卡列表</li></a>
                                                <a href="./ecard_list_effective.html"><li>有效E卡</li></a>
                                            </ul>
                                        </div>
                                    </li>
                                </a>
                                <a href="#"><li>赠送记录</li></a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>