<div id="recharge-weixin-page" class="page-wrapper">
	<div class="content">
		<div class="amount-div clearfix">
			<div class="a1 lab" >
				充值金额:{{amount}}元
			</div>
			<div class="a2" style="border-top: 1px solid #e1e1e1; margin-top: 30px;">
				<div>
					<div style="float: left;">
						<p>距离二维码过期还剩<span class="err">59</span>秒，过期后请刷新页面重新获取二维码。</p>
						<div class="qrcode"><img src="{{qrcode}}" width="300" height="300" /></div>
						<img src="../img/personal/weixin_recharge.png">
					</div>
					<div style="float: left;">
						<img src="../img/personal/weixin_phone.png">
					</div>
				</div>
		</div>
		
	</div>
</div>