<div class="time"> 
	<label for="">时间:</label> 
	<input  style="" type="text" class="date_picker" id="startDate"> - <input  style="" type="text" class="date_picker" id="endDate">
	<a href="javascript:void(0);" id="today">今天</a>
	<span>最近：</span>
	<a href="javascript:void(0);" id="allday" class="active">全部</a>
	<a href="javascript:void(0);" id="day7">一周</a>
	<a href="javascript:void(0);" id="month1">一个月</a>
	<a href="javascript:void(0);" id="month3">三个月</a>
	<a href="javascript:void(0);" id="month6">半年</a>
	<a href="javascript:void(0);" id="year1">一年</a>
</div>
<div class="type">
	<label for="">类别:</label> 
	<a href="javascript:void(0);" class="active">全部</a>
	<a href="javascript:void(0);" value="CONSUME">购物</a>
	<a href="javascript:void(0);" value="RECHARGE">充值</a>
	<a href="javascript:void(0);" value="REFUND">退款</a>
</div>
<div class="status">
	<label for="">状态:</label> 
	<a href="javascript:void(0);" class="active">全部</a>
	<a href="javascript:void(0);" value="SUCCESS">成功</a>
	<a href="javascript:void(0);" value="DOING">待支付</a>
	<a href="javascript:void(0);" value="FAILURE">失败</a>
	<a href="javascript:void(0);" value="CLOSE">关闭</a>
</div> 